.main_section {
  min-height: 100vh;
  margin-top: -8rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/main-bcg.jpeg) center/cover;
  display: grid;
  place-items: center;
}
.main_wrap {
  width: 90vw;
  max-width: var(--max-width);
}

.main_title {
  font-family: "Kaushan Script", sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--white-color);
  letter-spacing: 0.1rem;
}

.sub_title {
  color: var(--white-color);
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
  font-weight: 500;
}
.main_btn a {
  padding: 8px 10px;
  border: 1px solid var(--white-color);
  border-radius: var(--radius);
  color: var(--white-color);
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}
.main_btn a:hover {
  transition: var(--transition);
  background-color: var(--white-color);
  color: var(--primary-color-2);
}

/* featured_section */

.featured_section {
  width: 90vw;
  height: 120vh;
  max-width: var(--max-width);
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
}
.featured_lists {
  display: grid;
  margin-bottom: 20px;
}
.featured_title {
  position: relative;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-weight: 500;
  text-align: center;
  padding: 50px 0px;
}
.featured_title::before {
  content: "/";
  font-size: 1rem;
  color: var(--primary-color-2);
  margin-right: 20px;
}
.featured_wrap {
  margin-bottom: 30px;
}

.featured_info {
  width: 100%;
  margin: 0 auto;
  display: grid;
  place-items: center;
}
.product_img {
  width: 100%;
  height: 12rem;
  border-radius: var(--radius);
  position: relative;
}

.product_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.product_title {
  color: var(--grey-color-3);
  padding: 10px 0px 2px 0px;
  letter-spacing: var(--spacing);
}
.product_price {
  font-weight: 600;
}

/* featured 링크버튼 */
.featured_links {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.featured_links i {
  display: inline-block;
  padding: 8px;
  background-color: var(--primary-color-2);
  border-radius: 50%;
  margin-right: 10px;
  color: var(--white-color);
  cursor: pointer;
}
.featured_links i:hover {
  background-color: var(--primary-color-3);
  transition: var(--transition);
}

.featured_all_btn a {
  padding: 8px 15px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--primary-color-2);
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
}
.featured_all_btn a:hover {
  background-color: var(--primary-color-3);
  color: var(--black-color);
  transition: var(--transition);
}

@media screen and (max-width: 800px) {
  .main_title {
    font-size: 2.8rem;
  }
  .sub_title {
    font-size: 1.5rem;
  }
  .main_btn {
    font-size: 1rem;
  }
  .featured_lists {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 800px) {
  .main_title {
    font-size: 3.8rem;
  }
  .sub_title {
    font-size: 2rem;
  }
  .featured_lists {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .featured_lists {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
